body{
    margin:0px;
    font-family: 'Raleway', sans-serif;
}
/* navbar  */
#first-navbar{
    display: block;
    background-color: rgb(32 33 36);
    color: white;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
#first-navbar div{ 
    display: inline;
}
#left-div{
    padding: 0px 20px;
    font-size: 40px;
}
#center-div{
    padding: 0px 30px;

}
#search{
    border: 1px solid white;  
    background-color: white;
    border-radius: 19px;
    padding:10px 10px;
}
#search input{ 
    width:400px;
    border-radius: 12px;
    padding: 10px 10px;
    border: 1px solid white;  
}
#search input{ 
    width:400px;
    border-radius: 12px;
    padding: 10px 10px;
    border: 1px solid white;  
}
#search-logo{
    height:25px;
    width: 25px;
    margin: -6px 0px;
}
#right-div ul{
    display: flex;
    flex-direction: row;
}
#right-div ul li{
    list-style: none;
}
#right-div ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 22px;
}
#right-div ul li a:hover{
    font-size:18px;
    background-color: white;
    color:red;
}

/* second - navbar  */
#second-navbar{
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
#second-navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    text-align: center;
}
#second-navbar ul li a{
    text-decoration: none;
    color:black;
    padding:0px 10px;
}
#second-navbar ul li a:hover{
    font-size: 20px;
    color:red;
    text-decoration: underline;
    transition: all 0.2s;
}
/* main section --------  */

.section-name{
    font-size: 23px;
    font-weight: bolder;
    padding: 7px 13px;
}
.full-box{
    border:1px solid white;
    margin: auto;
    width:85%;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow:rgba(0, 0, 0, 0.22) 0px 5px 21px ,rgba(0, 0, 0, 0.22) 0px 5px 21px;
}
.full-box:hover{
    width:89%;
    height:30%;
    transition: all 0.2s;
}
.news-pic{
    height:40px;
    width:40px;
    padding:0px 20px;
}

.news-logo{
    height: 23px;
    width: 98px;
    
}
.news-title a{
    text-decoration: none;
    color: black;
}
.article{
    padding:10px 10px;
    margin:10px 10px;
}
.half-box{
    border:1px solid white;
    width:25%;
    margin: 30px 10px;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow:rgba(0, 0, 0, 0.22) 0px 5px 21px ,rgba(0, 0, 0, 0.22) 0px 5px 21px;
}
.half-box:hover{
    width:30%;
    height:30%;
    transition: all 0.2s;
}
#all-news{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:10px 73px;
    padding: 10px 10px;
    flex-wrap: wrap;
}

/* edit below  */
/* .half-.half-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
  }
  
  .half-box:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .half-box:hover::before, div:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: #FDA8CF;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .half-box:hover:after {
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
  }
  
  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  } */

  /* footer */
footer{
  background-color: rgb(32 33 36);
  color:white;
  height:auto;
}
  #footer-heading ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    list-style: none;

  }
  #footer-heading ul li{
    color:white;
    margin:18px 24px;
    font-weight: 700;
    font-size: 25px;
  }

  #footer-content{

    justify-content: center;
    margin:auto;
    text-align: center;
    margin:20px 20px 0px 20px;
    padding: 10px 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
  }
  #footer-content ul{
    list-style: none;
  }
  #footer-content ul li{
    padding:10px 0px;
    font-size:15px;
  }
  #footer-content ul li span{ 
    padding:10px 0px;
    font-size:15px;
    font-weight: 700;
  }